%div.box.box-01
  %p.links
    =link_to "Create a new run", new_run_path
    |
    =link_to "Participate", participate_path

  %ul#runs
    - @runs.each do |run|
      %li
        %div.data.box.box-02
          .name=run.visual_name
          .run_detail.start_at
            %span.label When
            %span.content=run.start_at
          .run_detail.organized_by
            %span.label Who is organizing
            %span.content=run.user.name
          .run_detail.charity
            %span.label Charity to donate
            %span.content=link_to run.charity, run.charity_url
          - if run.participants.size > 0
            .run_detail.no_of_participants
              %span.label=t('.participants', :count => run.participants.size)
        %div
          %iframe(width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="#{run.map_url}")
          %div
            %small
              = link_to("View Larger Map", run.map_url, :class => 'button small')
