
=link_to "Create a new run", new_run_path
|
=link_to "Participate", participate_path

%ul#runs
  - @runs.each do |run|
    %li.hide_details
      .name=run.visual_name
      .run_detail.when
        %span.label When
        %span.content=run.when
      .run_detail.organized_by
        %span.label Who is organizing
        %span.content=run.user.name
      .run_detail.charity
        %span.label Charity to donate
        %span.content=link_to run.charity, run.charity_url
      - if !!run.participants.size
        .run_detail.no_of_participants
          %span.label=t('.participants', :count => run.participants.size)