%h1
  What
%h2 Running at the camp side
%p.summary
  The idea was born after the first rubyconf in NOLA 2011 - as continous attendees of railscamps and runners we'd thought to start the railsrunners program - from geeks for geeks. Run baby run!
%h2
  Run for Charity
%p.summary
  We run for charity. Every host should define a charity and as a runner you should do a donation for it. Participating you will supporting something good.
%h2
  Run for you
%p.summary
  Running is great exercise. And, let's face it - programmers aren't known for getting a lot of exercise. SO take this opportunity to get some! If you can't run 5k yet, it's a nice attainable distance if you start training now. We recommend the 
%a(href="http://www.coolrunning.com/engine/2/2_3/181.shtml") Couch-to-5k program.
%h2
  Run for fun
%p.summary
  Running is a social activity. Get outdoors and spend some time with your fellow Rubyists doing something healthy and fun.        

